registry=https://registry.npmjs.org/
@dta:registry=https://registry.npmjs.org/
@kaiju:registry=https://registry.npmjs.org/
@nrdp:registry=https://registry.npmjs.org/
@netflix:registry=https://registry.npmjs.org/
@nflx:registry=https://registry.npmjs.org/
@*:registry=https://registry.npmjs.org/
